<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Ecommerce</h1>
    <form action="ml" method="POST">
        Avg. Session Length	
        <input type="text" id='session' value="32.187812" name='session'><br>

        Time on App	
        <input type="text" id='app' value="14.715388" name='app'><br>

        Time on Website	
        <input type="text" id='web' value="38.244115" name='web'><br>

        Length of Membership
        <input type="text" id='length' value="1.516576" name='length'><br>

        <input type="submit" >
    </form>
</body>
</html>

<!-- 32.187812
app = 14.715388
web = 38.244115
length = 1.516576 -->